
body{
    background-color: #a79ae1;
    margin: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

main{
    background: linear-gradient(#a79ae1,white,#a79ae1);
}

section{
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-top: solid 3px #282641;
    border-bottom: solid 3px #282641;
}

a{
    text-decoration: none;
    color: #120907;
    font-weight: bold;
}

article {
    height: 400px;
    margin-bottom: 20px;
    border: solid 2px #282641;
}

a.menu{
    margin-bottom: 15px;
    font-size: 20px;
}

a.menu:hover{
    color: white;
}

#home{
    font-family: "icomoon";
    font-size: 25px;
}

#store{
    font-family: "icomoon";
    font-size: 25px;
}

#bag{
    font-family: "icomoon";
    font-size: 25px;
}

.social{
    font-family: "icomoon";
    font-size: 25px;
}

#facebook{
    
    color: blue;
}

#mail{
    color: red;
}

#instagram{
    color: palevioletred;
}

main{
    padding: 50px;
}

.logocontact {
    width: 200px;
}

.data{
    text-align: center;
    margin-bottom: 50px;
}

.form{
    text-align: center;
}

.form fieldset{
    padding: 20px 50px;
}

.form input, .form textarea{
    text-align: center;
}

.text{
    width: 100%;
    margin-bottom: 10px;
}

.send{
    margin-top: 30px;
}

.radio{
    width: 100%;
    border: solid 4px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    color:#282641;
}

.radio:checked+label{
    border-color: lightgreen;
}

.radio:not(:checked)+label{
    border-color: red;
}

.radio+label:hover{
    cursor: pointer;
    color: white;
}

#telefono, #correo, #indiferente{
    visibility: hidden;
}


header {
    background-color: #a79ae1;
    position: sticky;
    top: 0px;
}

header h1{
    margin: 0px;
    text-align: center;
    color: #282641;
}

header nav{
    display: flex;
    justify-content: space-evenly;
}

.cabecera{
    margin-bottom: 15px;
}

.logo{
    width: 70px;
    margin-top: 10px;
    margin-left: 5px;
}


footer {
    background-color: #a79ae1;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    padding-top: 30px;
}

footer nav{
    text-decoration: none;
    border: solid 1px right;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h3{
    text-align: center;
}

@media screen and (max-width:960px) {
    .logo{
        width: 28px;
    }

    .logocontact {
        width: 60px;
    }

    .social{
        font-size: 20px;
    }
}