body{
    background-color: #a79ae1;
    margin: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

main{
    background: linear-gradient(#a79ae1,white,#a79ae1);
}

section{
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-top: solid 3px #282641;
    border-bottom: solid 3px #282641;
}

a{
    text-decoration: none;
    color: #120907;
    font-weight: bold;
}

article {
    height: 400px;
    margin-bottom: 20px;
    border: solid 2px #282641;
}

a.menu{
    margin-bottom: 15px;
    font-size: 20px;
}

a.menu:hover{
    color: white;
}

#home{
    font-family: "icomoon";
    font-size: 25px;
}

#store{
    font-family: "icomoon";
    font-size: 25px;
}

#bag{
    font-family: "icomoon";
    font-size: 25px;
}


.gaming{
    overflow-x: auto;
    display: flex;
    gap: 20px;
}

.gaming article{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: stretch;
}

.gaming article:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.gaming article img{
    width: 250px;
    margin-bottom: 10px;
}


.pro{
    overflow-x: auto;
    display: flex;
    gap: 20px;
}

.pro article{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: stretch;
}

.pro article:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.pro article img{
    width: 250px;
    margin-bottom: 10px;
}


.wireless{
    overflow-x: auto;
    display: flex;
    gap: 20px;
}

.wireless article{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: stretch;
}

.wireless article:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.wireless article img{
    width: 250px;
    margin-bottom: 10px;
}


.smartphone{
    overflow-x: auto;
    display: flex;
    gap: 20px;
}

.smartphone article{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: stretch;
}

.smartphone article:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.smartphone article img{
    width: 250px;
    margin-bottom: 10px;
}


header {
    background-color: #a79ae1;
    position: sticky;
    top: 0px;
}

header h1{
    margin: 0px;
    text-align: center;
    color: #282641;
}

header nav{
    display: flex;
    justify-content: space-evenly;
}

.cabecera{
    margin-bottom: 15px;
}

.logo{
    width: 70px;
    margin-top: 10px;
    margin-left: 5px;
}


footer {
    background-color: #a79ae1;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    padding-top: 30px;
}

footer nav{
    text-decoration: none;
    border: solid 1px right;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h3{
    text-align: center;
}

@media screen and (max-width:960px) {
    .logo{
        width: 28px;
    }
    section{
        border: solid 1px;
    }
}