
body{
    background-color: #a79ae1;
    margin: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

main{
    background: linear-gradient(#a79ae1,white,#a79ae1);
}

a{
    text-decoration: none;
    color: #120907;
    font-weight: bold;
}

a.menu{
    margin-bottom: 15px;
    font-size: 20px;
}

a.menu:hover{
    color: white;
}

#home{
    font-family: "icomoon";
    font-size: 25px;
}

#store{
    font-family: "icomoon";
    font-size: 25px;
}

#bag{
    font-family: "icomoon";
    font-size: 25px;
}

.store{
    border: solid 5px #282641;
    border-radius: 15px;
    margin: 20px;
    padding: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    text-align: center;
    gap: 20px;
}

.store article{
    border: solid 3px #282641;
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto 10%;
}

.product{
    border-bottom: solid 1px;
    display: grid;
    grid-template-rows: 70% 20% 10%;
    margin: 0px;
    padding: 10px 20px 0px 20px; 
}

.img{
    width: 100%;
    height: 100%;
}

.add{
    background-image: linear-gradient(to bottom right, orange, rgb(235, 187, 106),orange);
    border: solid 1px #282641;
    border-radius: 15px;
    margin: 2%;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product:hover{
    background-color: rgba(0,0,0,0.1);
}

.add:hover{
    color: whitesmoke;
}


header {
    background-color: #a79ae1;
    position: sticky;
    top: 0px;
}

header h1{
    margin: 0px;
    text-align: center;
    color: #282641;
}

header nav{
    display: flex;
    justify-content: space-evenly;
}

.cabecera{
    margin-bottom: 15px;
}

.logo{
    width: 70px;
    margin-top: 10px;
    margin-left: 5px;
}


footer {
    background-color: #a79ae1;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    padding-top: 30px;
}

footer nav{
    text-decoration: none;
    border: solid 1px right;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h3{
    text-align: center;
}

@media screen and (max-width:960px) {
    .logo{
        width: 28px;
    }
    .store{
        border: solid 5px #282641;
        border-radius: 15px;
        margin: 10px;
        padding: 15px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        text-align: center;
        gap: 10px;
    }
    .product{
        border-bottom: solid 1px;
        display: grid;
        grid-template-rows: 70% 20% 10%;
        margin: 0px;
        padding: 5px 10px 0px 10px; 
    }
}